.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#incomeField {
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  /* flex-direction: row; */
}

label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

input {
  width: 200px;
}

#propertyValueComponent, #rentalCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#propertyImage {
  display: block;
  float: left;
  width: 50%;
  height: 360px;
}

.mapGoogle {
  float: left;
  width: 50%;
  height: 360px;
}

#addButton{
  float: left
}

#textArea {
  width: 50%;
  float: left;
}

#column1{
  width: 50%;
  display: flex;
  flex-direction: column;
  float: left;
}

#column2{
  width: 50%;
  display: flex;
  flex-direction: column;
  float: left;
}

#flex{
  position: relative;
}